<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SSBS</title>
  <style>body {opacity: 0; overflow-x: hidden;}</style>
</head>
<body>

<script id="bx24_form_inline" data-skip-moving="true">
  (function(w,d,u,b){w['Bitrix24FormObject']=b;w[b] = w[b] || function(){arguments[0].ref=u;
    (w[b].forms=w[b].forms||[]).push(arguments[0])};
    if(w[b]['forms']) return;
    var s=d.createElement('script');s.async=1;s.src=u+'?'+(1*new Date());
    var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
  })(window,document,'https://prosto24.com/bitrix/js/crm/form_loader.js','b24form');

  b24form({"id":"13","lang":"ru","sec":"afgofr","type":"inline"});
</script>

</body>
</html>
