@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
.callback-form {
  background: #ECEFF1;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 100%;
  max-width: 1140px;
  margin: 60px auto;
  padding: 20px 30px; }
  @media screen and (max-width: 767.98px) {
    .callback-form {
      padding: 20px 15px;
      margin: 40px 15px;
      width: auto; } }
  .callback-form h4 {
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    font-weight: normal;
    margin-bottom: 26px; }
    @media screen and (max-width: 767.98px) {
      .callback-form h4 {
        font-size: 26px; } }
  .callback-form p {
    font-size: 16px;
    line-height: 19px;
    color: #53595C;
    max-width: 740px;
    margin: 0 auto; }
    @media screen and (max-width: 767.98px) {
      .callback-form p {
        font-size: 16px; } }
  .callback-form .result {
    text-align: center;
    font-weight: bold;
    margin: 10px auto 0 auto; }
  .callback-form form {
    max-width: 740px;
    margin: 34px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }
    @media screen and (max-width: 767.98px) {
      .callback-form form {
        justify-content: center; } }
    .callback-form form .callback-email {
      flex: 0 0 360px;
      font-size: 22px;
      line-height: 1;
      padding: 15px;
      background: #ffffff;
      border: none; }
      .callback-form form .callback-email::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.3); }
      .callback-form form .callback-email::-moz-placeholder {
        color: rgba(0, 0, 0, 0.3); }
      .callback-form form .callback-email:-moz-placeholder {
        color: rgba(0, 0, 0, 0.3); }
      .callback-form form .callback-email:-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.3); }
      @media screen and (max-width: 1199.98px) {
        .callback-form form .callback-email {
          flex: 0 0 45%; } }
      @media screen and (max-width: 767.98px) {
        .callback-form form .callback-email {
          flex: 0 0 100%;
          font-size: 16px; } }
    .callback-form form .callback-send {
      flex: 0 0 272px;
      font-size: 22px;
      color: #000000;
      padding: 15px;
      background: #4CAF50;
      border: none;
      border-radius: 30px;
      text-align: center; }
      @media screen and (max-width: 1199.98px) {
        .callback-form form .callback-send {
          flex: 0 0 45%; } }
      @media screen and (max-width: 767.98px) {
        .callback-form form .callback-send {
          flex: 0 0 50%;
          font-size: 16px;
          margin-top: 20px; } }
